.fraud {
  background: url("../media/evader.png") no-repeat center;
  display: block;
  background-size: 29px;
  width: 32px;
  background-position: center center;
  height: 38px;
}

.bar {
    fill: steelblue;
    overflow: hidden;
}

.bar:hover {
    fill: brown;
}

.axis--x path {
    display: none;
}

.fly-button {
    background-image: url(/media/paper-plane.svg);
    background-size: 100% 100%;
    padding-top: 20px;
    width: 32px;
    height: 24px;
    shape-rendering: crispEdges;
}

title {
    width: 300%;
}

.leaflet-marker-icon.sans-serif {
	font-weight: bold;
	font-family: Sans Serif;
}

input#location {
    margin-left: 6px;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(./../media/material-icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
